body {
  margin: 0 0 0 0;
  background-color: #2c3e50;
  animation-name: sky;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.grass {
  background: green;
  height: 600px;
  width: 100%;
  position: absolute;
}

.sun {
  background: #f1c40f;
  width: 200px;
  height: 200px;
  border-radius: 50%;

  transform-origin: center;
  transform: translateY(100%);

  animation-name: sun;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes sky {

  0%{
    background-color: #2c3e50;
  }
  10%{
    background-color: #ff91df;
  }
  30%{
    background-color: #91b5ff;
  }
  70%{
    background-color: #91b5ff;
  }
  90%{
    background-color: #ff91df;
  }
  100%{
    background-color: #2c3e50;
  }
}

@keyframes sun {
  0%{
    background-color: orange;
  }
  25%{
    transform: translate(21vw, -5%);
    background-color: yellow;
  }
  50%{
    transform: translate(42vw, -6%);
  }
  75%{
    transform: translate(63vw, -5%);
    background-color: yellow;
  }
  100%{
    transform: translate(87vw, 100%);
    background-color: red;
  }
}